<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Homepage{% endblock %}</title>
</head>
<body>
    <section class="navigation">
        {% block navigation %}{% endblock %}
    </section>

    <section class="main">
        {% block main %}{% endblock %}
    </section>

    <section class="footer">
        {% block footer %}{% endblock %}
    </section>
</body>
</html>