<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true"
    bootstrap="Tests/Resources/bootstrap.php"
>

    <php>
        <server name="KERNEL_DIR" value="./Tests/Resources/app" />
    </php>

    <testsuites>
        <testsuite name="Symfony CoralCoreBundle Test Suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>.</directory>
            <exclude>
                <directory>Resources/</directory>
                <directory>Tests/</directory>
                <directory>vendor/</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
