<h4 class="query">request.query.param1 = {{ context['request.query.param1'] }}</h4>
<h4 class="os">request.os = {{ context['request.os'] }}</h4>
<h4 class="country">request.country = {{ context['request.country'] }}</h4>