{% extends '::base.html.twig' %}

{% block title %}{{ node.name }}{% endblock %}

{% block body %}
  <div class="row">
    <div class="large-12 columns">
      <h1>{{ node.name }}</h1>
      <hr>

      {{ include('CoralSiteBundle:Node:section.html.twig', { 'node': node, 'name': 'text', 'edit': true }) }}
    </div>
  </div>
{% endblock %}