@mixin default-shadow($color) {
  -webkit-box-shadow: 0 0 5px $color;
  -moz-box-shadow: 0 0 5px $color;
  box-shadow: 0 0 5px $color;
}

@mixin window-shadow($color) {
  -webkit-box-shadow: 0 0 10px $color;
  -moz-box-shadow: 0 0 10px $color;
  box-shadow: 0 0 10px $color;
}

@mixin animation($name, $time) {
  -webkit-animation: $name $time;
  -moz-animation:    $name $time;
  -o-animation:      $name $time;
  animation:         $name $time;
}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}