/*
  Colors based on scheme

  https://kuler.adobe.com/Copy-of-Jaws-color-theme-2668083/
 */

$color-alert:            #D30027;
$color-bg-default:       #FCFBE7;
$color-bg-compl:         #9FD3DA;
$color-text-strong:      #05484F;
$color-text-default:     #008C9A;
$mobile-width:           500px;
$mobile-min-width-query: "screen and (min-width: " + mobile-width + ")";