@import "settings";
@import "mixins";

/*
  Auth (aka login screen and pre-auth dialogs and messages)
 */
body, html {
  height: 100%;
  background: #2c7890; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #2c7890 0%, #2d3446 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#2c7890), color-stop(100%,#2d3446)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #2c7890 0%,#2d3446 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #2c7890 0%,#2d3446 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #2c7890 0%,#2d3446 100%); /* IE10+ */
  background: linear-gradient(135deg,  #2c7890 0%,#2d3446 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c7890', endColorstr='#2d3446',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: white;
}

body > .row > .columns {
  margin-top: 20%;

  h1 {
    margin: 0 0 .8em 0;
    font-size: 130%;
    color: rgba(255, 255, 255, .7);

    a {
      color: rgba(255, 255, 255, .7);

      strong {
        color: rgba(255, 255, 255, .7);
      }

      &:hover {
        text-decoration: none;

        strong {
          color: $color-alert;
        }
      }
    }
  }

  div + form {
    margin-top: 1rem;
  }

  form {
    margin: 0;

    label {
      color: rgba(255, 255, 255, .7);
      font-weight: bold;
    }

    input[type=text],
    input[type=password] {
      background: rgba(0, 0, 0, .1);
      border-style: none;
      color: white;
      box-shadow: inset 0 0 .2rem .2rem rgba(0, 0, 0, .05);
      border-radius: .2rem;
      color: rgba(255, 255, 255, .7);
    }

    input[type=submit] {
      margin: 0;
      width: 100%;
      height: 2.3125rem;
      line-height: 2.3125rem;
      color: rgba(255, 255, 255, .7);
      border-style: none;
      cursor: pointer;
      padding: 0 1em;
      border-radius: .2rem;
      text-align: center;
      text-transform: uppercase;
      box-shadow: 0 0 .2rem .2rem rgba(0, 0, 0, .1);
      text-shadow: .05rem .05rem .1rem rgba(0, 0, 0, .5);
      background: #90c747; /* Old browsers */
      background: -moz-linear-gradient(top,  #90c747 0%, #7db444 46%, #69a634 50%, #4d8e27 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90c747), color-stop(46%,#7db444), color-stop(50%,#69a634), color-stop(100%,#4d8e27)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #90c747 0%,#7db444 46%,#69a634 50%,#4d8e27 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #90c747 0%,#7db444 46%,#69a634 50%,#4d8e27 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #90c747 0%,#7db444 46%,#69a634 50%,#4d8e27 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #90c747 0%,#7db444 46%,#69a634 50%,#4d8e27 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90c747', endColorstr='#4d8e27',GradientType=0 ); /* IE6-9 */
      -webkit-transition: color .5s, box-shadow .5s, text-shadow .5s;
      transition: color .5s, box-shadow .5s, text-shadow .5s;

      &:hover,
      &:focus {
        box-shadow: 0 0 .2rem .2rem rgba(0, 0, 0, .4);
        color: white;
        text-shadow: .05rem .05rem .1rem rgba(0, 0, 0, 1);
      }
    }
  }

  .button-group {
    text-align: right;

    * {
      float: none;
      vertical-align: middle;
    }

    a.button:hover {
      text-decoration: none;
    }
  }
}