@import "settings";
@import "mixins";

// use of keyframes mixin
@include keyframes(modalshow) {
  0% {
    left: -1000px;
  }
  100% {
    left: 50%;
  }
}

body.dragging, body.dragging * {
  cursor: move !important;
}

/*
  Coral Bar
 */
.coral-bar {
  min-height: 100px;
  position: relative;
  border-top: 1px solid #ccc;
  background: #f5f5f5;
  padding: 1em 0;

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 1em;
    left: 0;
    background: radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.2), rgba(97, 97, 97, 0.0) 40%);
  }

  .upload {
    background: #eee;
    border: 2px dotted #ddd;
    text-align: center;
    color: #aaa;
    font-weight: bold;
    text-transform: lowercase;
    font-size: 85%;
    border-radius: 5px;
    padding: 3em 0 2em 0;
    vertical-align: middle;
    position: relative;
    overflow: hidden;

    &:hover {
      color: #888;
      border-color: #888;
    }

    i {
      font-size: 3em;
      color: inherit;
    }

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }

  ul.button-group a {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  table {
    border-style: none;
    text-align: left;
    background: transparent;

    tr {
      background: transparent;
      vertical-align: top;
      border-bottom: 1px dashed #ddd;
    }

    td,
    th {
      padding: .4em 0;
      line-height: inherit;
    }

    th {
      font-style: italic;
      font-weight: normal;
      color: #444;
    }

    td {
      color: #888;
    }
  }
}

/*
  Coral Toaster Window
 */
@mixin ajax_rotation($time, $degree) {
  -moz-animation-delay:    $time;
  -webkit-animation-delay: $time;
  -ms-animation-delay:     $time;
  -o-animation-delay:      $time;
  animation-delay:         $time;
  -ms-transform:           rotate($degree);
  -moz-transform:          rotate($degree);
  -webkit-transform:       rotate($degree);
  transform:               rotate($degree);
}
@include keyframes(fadeG) {
  0% {
    background-color: #666
  }
  100% {
    background-color: #fff
  }
}

.ajax-loader {
  position: relative;
  width: 62px;
  height: 77px;

  div {
    position: absolute;
    background-color: #FFFFFF;
    width: 10px;
    height: 24px;
    -ms-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    -ms-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    -moz-animation-name:fadeG;
    -moz-animation-duration:1.3599999999999999s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-animation-name:fadeG;
    -webkit-animation-duration:1.3599999999999999s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-animation-name:fadeG;
    -ms-animation-duration:1.3599999999999999s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -o-transform:scale(0.4);
    -o-animation-name:fadeG;
    -o-animation-duration:1.3599999999999999s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    animation-name:fadeG;
    animation-duration:1.3599999999999999s;
    animation-iteration-count:infinite;
    animation-direction:linear;

    &:nth-child(1) {
      left: 0;
      top: 28px;
      @include ajax_rotation(0.51s, -90deg)
    }
    &:nth-child(2) {
      left: 8px;
      top: 10px;
      @include ajax_rotation(0.6799999999999999s, -45deg)
    }
    &:nth-child(3) {
      left: 26px;
      top: 3px;
      @include ajax_rotation(0.85s, 0deg)
    }
    &:nth-child(4) {
      right: 8px;
      top: 10px;
      @include ajax_rotation(1.02s, 45deg)
    }
    &:nth-child(5) {
      right: 0;
      top: 28px;
      @include ajax_rotation(1.19s, 90deg)
    }
    &:nth-child(6) {
      right: 8px;
      bottom: 7px;
      @include ajax_rotation(1.3599999999999999s, 135deg)
    }
    &:nth-child(7) {
      left: 26px;
      bottom: 0;
      @include ajax_rotation(1.5299999999999998s, 180deg)
    }
    &:nth-child(8) {
      left: 8px;
      bottom: 7px;
      @include ajax_rotation(1.7s, -135deg)
    }
  }
}

/*
  Coral Toaster Window
 */
.coral-toaster {
  bottom: 10em;
  right: 1em;
  width: 25em;
  min-height: 6em;
  position: fixed;
  z-index: 9998;
  background: red;
  color: white;
  padding: 1.5em 1em;
  font-size: 85%;
  font-weight: bold;
  border-radius: 5px;

  a.close {
    position: absolute;
    z-index: 9999;
    right: .5em;
    top: .5em;
    background: white;
    color: red;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    text-align: center;
    line-height: 12px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 7px;
  }

  &.info {
    background: rgba(81, 143, 31, .8);

    a.close {
      color: #518f1f;
    }
  }

  &.error {
    background: rgba(185, 0, 34, .8);

    a.error {
      color: #b90022;
    }
  }
}

/*
  Coral Modal Window
 */
.coral-modal {
  @include window-shadow(#666);
  top: 1em;
  bottom: 1em;
  left: 50%;
  height: auto;
  width: 100%;
  margin: 0;
  position: fixed;
  border-radius: 5px;
  padding: 0;
  background: #f5f5f5;
  border-style: none;
  display: none;
  z-index: 900;
  visibility: hidden;
  max-width: 60rem;
  margin-left: -30rem;
  overflow: hidden;

  &.active {
    visibility: visible;
    display: block;
    @include animation(modalshow, 200ms)
  }

  .header {
    background: white;
    border-bottom: 1px solid #ccc;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: -3px;
    text-align: right;

    h2 {
      color: #444;
      font-weight: normal;
      font-size: 110%;
      text-align: left;
      display: inline-block;
      position: absolute;
      left: 1em;
      top: .5em;
    }

    a.close-coral-modal {
      display: inline-block;
      border-left: 1px solid #ccc;
      padding: .5em 1em .5em 1em;
      font-size: 168%;
      color: #ccc;

      &:hover {
        color: #888;
      }
    }
  }

  .content {
    padding: 1em;
    overflow: auto;
    position: absolute;
    top: 3.2em;
    left: 0;
    right: 0;
    bottom: 4.3em;
    z-index: 901;

    ul.coral-tree {
      margin: 0;

      li {
        list-style: none;

        &.dragged {
          position: absolute;
          opacity: 0.5;
          z-index: 9000;
          background: transparent !important;

          a {
            padding: 0 !important;
            background: transparent !important;
          }
        }

        &.placeholder {
          position: relative;
          margin: 0;
          padding: 0;
          border: 1px dashed #aaa;
          height: 1em;
          background: transparent !important;
        }
      }

      a {
        display: block;
        color: #888;
        padding: .1em .5em .1em 1em;
        border-radius: 5px;
        position: relative;
        cursor: default !important;
        border: 1px solid transparent;

        &.active {
          border-color: rgba(0, 0, 0, .4);
        }

        &:hover {
          background: rgba(0, 0, 0, .1);
        }

        span {
          cursor: pointer;
        }

        i.fi-list {
          cursor: move !important;
          margin: 0 .5em 0 .2em;
        }
        i.fi-x,
        i.fi-page-add,
        i.fi-indent-more {
          cursor: pointer !important;
          float: right;
          margin-left: 1em;
        }
      }

      ul {
        margin: 0 0 0 1em;

        > li {
          background-repeat: repeat-y;
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKAQMAAABPHKYJAAAAA1BMVEWIiIhYZW6zAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH1ggGExMZBky19AAAAAtJREFUCNdjYMAEAAAUAAHlhrBKAAAAAElFTkSuQmCC');
          background-position: .5em .3em;
          padding-bottom: .3em;

          &:last-child {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAUBAAAAABQgM62AAAAAnRSTlMAAHaTzTgAAAACYktHRAAIpFarAAAAAAlwSFlzAAAASAAAAEgARslrPgAAABRJREFUCNdjaGAAAuoQHUDAgAUAABBSCaFl4A2xAAAAMHRFWHRjb21tZW50AEVkaXRlZCB3aXRoIEx1bmFQaWM6IGh0dHA6Ly9sdW5hcGljLmNvbS+9CjLcAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDEzLTExLTI0VDE0OjIxOjQ1LTA4OjAw3g4mYQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxMy0xMS0yNFQxNDoyMTo0NS0wODowMK9Tnt0AAAAASUVORK5CYII=');
            background-repeat: no-repeat;
            background-position: .5em -.2em;
          }
        }
      }
    }

    form div label + ul {
      list-style: none;
      margin: 0;
      padding: 0;

      > li {
        font-size: 85%;
        color: red
      }
    }

    .overlay {
      position: absolute;
      z-index: 999;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(0, 0, 0, .1);

      .ajax-loader {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -31px;
        margin-top: -38px;
      }
    }
  }

  .buttons {
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ccc;
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 1em;

    ul.button-group {
      margin: 0;

      li a {
        margin: 0;
      }
    }
  }
}

/*
  Coral Content Editor
 */
.coral-widget {
  position: relative;

  textarea {
    display: none;
  }

  .coral-editable {
    display: none;
    /* disable this element, too distracting */
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    height: 0;
    top: -2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    vertical-align: middle;
    background: white;
    transition: top 300ms ease-in-out;
    text-align: center;
    color: #5da423;
    font-weight: bold;
    font-size: .8rem;
    @include window-shadow(rgba(0, 0, 0, .6));
  }

  &:hover {
    outline: 1px dashed #ccc;
    outline-offset: .5rem;
  }

  &:hover .coral-editable {
    top: 0;
  }

  .coral-controls {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 400;
    background: white;
    height: 4rem;
    padding: 1rem 0;
    text-align: center;
    border-radius: .3rem;
    margin-top: -3rem;
    @include window-shadow(rgba(0, 0, 0, .6));
    transition: background-color 300ms ease-out;
    z-index: 9;

    > a {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background: #aaa;
      color: white;
      line-height: 2rem;
      margin-right: 1rem;
      vertical-align: middle;
      text-align: center;
      transition: background-color 300ms ease-out;

      &:hover {
        background: #444;
      }

      &[rel=edit] {
        background: #008c9a;

        &:hover {
          background: #111;
        }
      }
      &[rel=add] {
        background: #518f1f;

        &:hover {
          background: #417f0f;
        }
      }
      &[rel=delete] {
        background: #a00;

        &:hover {
          background: #911;
        }
      }
    }
  }
}

.coral-editor {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;

  .CodeMirror {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding-bottom: 3rem;
  }

  .buttons {
    position: absolute;
    background: white;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 9001;
    padding-top: 1rem;
    border-top: 1px solid #f60;

    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      height: 1em;
      left: 0;
      background: radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.2), rgba(97, 97, 97, 0.0) 40%);
    }
  }

  .buttons ul {
    margin-right: 1rem;
  }
}